.bmi-calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  width: 300px;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 20px;
  }

  div {
    margin-bottom: 15px;
    width: 100%;

    label {
      display: inline-block;
      width: 120px;
      font-weight: bold;
    }

    input[type='number'] {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
    }
  }

  div:last-child {
    margin-bottom: 0;
  }
}
