.info {
  display: block;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 300px;
  background: #ffffff;

  .header {
    background: #ff0000;
    padding: 20px;
    border-radius: 30% 60% 30% 70%;
    text-align: center;
    justify-content: center;
    height: 280px;
    width: auto;
    box-shadow: 2px 2px 4px #000000;

    h1{
      color: black;
      font-size: 70px;
      margin: 0;
      padding-top: 40px;
    }
  }
}
.foodInfo{
  width: auto;
  padding:40px;
  font-size: 18px;
  color: #232222;
  line-height: 25px;
  background: #ffffff;
}
.foodInfo p{
  text-align: center;
}
.foodInfo li {
  max-width: 700px;

}

